#hex{
    background-image: url('bgnd.jpg');
}

/* Define the styles for font color and family */
h1 {
    color: #333;
    font-family: Arial, sans-serif;
  }
  h2 {
    color: rgb(44, 44, 160)
  }
  p {
    color: #666;
    font-family: Verdana, sans-serif;
  }
  
  a {
    color: #0088cc;
    font-family: Helvetica, sans-serif;
  }
  
  .btn {
    background-color: #0088cc;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
  }
  
  /* Define the styles for the three divs */
  .div1 {
    position: relative;
    top: 50px;
    left: 50px;
    background-color: #e6d8d8;
    width: 200px;
    height: 250px;
    padding: 20px;
    border: 1px solid #ccc;
    margin-left: 5%;
  }
  
  .div2 {
    position: absolute;
    top: 100px;
    right: 50px;
    background-color: #f2f2f2;
    width: 300px;
    height: 300px;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .div3 {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
  }
  
  